@font-face{
    font-family: "Courier New",Courier,monospace;
    src: url('../fonts/cour.ttf');
}
.ropa{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}
.productos{
    padding-top: 5%;
}
.productos img{
    max-height: 260px;
}
.nombre-producto{
    padding-top: 15px;
}
.nombre-producto a{
    text-decoration: none;
    text-transform: uppercase;
    color: #303030;
    font-size: 12px;
}
.precio{
    padding-top: 30px;
    text-decoration: none;
    color: #303030;
    font-weight: 700;
    font-family: "Courier New",Courier,monospace;
}
.acomodar{
    display: flex;
    flex-direction: column;
    padding: 0 0 40px 20px;
}
.acomodar-productos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.not-prod{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 7%;
    padding-bottom: 10%;
    font-family: "Courier New",Courier,monospace;
}