.index{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*Elementos Arriba*/
.arriba{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Elementos Arriba a la izquierda*/
.arriba-izquierda{
    display: flex;
    flex-direction: column;
    float: left;
    width: 39%;
    height: 100%;
    margin: 0;
}
.ar-izq{
    width: 100%;
}
/*Elementos Arriba a la derecha*/
.arriba-derecha{
    display: flex;
    flex-direction: column;
    padding-left: 0.2%;
    width: 61%;
}
.ar-der{
    width: 100%;
    height: 110%;
    float: left;

}
/*Elementos abajo*/
.abajo{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.sub-abajo{
    display: flex;
    flex-direction: column;
    width:25%;
}
.ab-img{
    width: 100%;
}
/*Efectos del index */
.overlay-image {
    position: relative;
    width: 100%;
   }
.overlay-image .text {
    color: #fff;
    font-size: 3vh;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: "Courier New",Courier,monospace;
}
.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.overlay-image:hover .hover {
    opacity: 1;
}
.overlay-image .normal {
    transition: .5s ease;
}
.overlay-image:hover .normal {
    opacity: 0;
}
.overlay-image .hover {
    background-color: rgba(0,0,0,0.5);
}
