.banner{
    display: flex;
    background-image: url("http://paranamusic.com.ar/img/artist/ice-cold.jpg");
    width: auto;
    justify-content: flex-end;
}
.items{
    display: flex;
    flex-direction: column;
    margin : 0;
    width: auto;
    height: auto;
    padding: 25px 30px 0 0;
}
.iconos{
    display: flex;
    justify-content: center;
}
.video{
    width: 533px;
    height: 300px;
}
.icon-banner{
    text-decoration: none;
    color: #D4AF37;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
}
.icon-banner:hover{
    color: black;
}
.img-hide{
    display: none;
    width: auto;
}
