*{
	font-family: 'fuente';
	color: black;
	text-decoration: none;
	text-align: center;
}
@font-face {
	font-family: 'fuente';
	src: url('../../fonts/cour.ttf');
	font-weight: normal;
	font-style: normal;
	}
.imagen-header{
display: flex;
flex-direction: row;

}


h1{
	text-align: center;
}
.caja-header{
	width: 15%;
}
.forminsert{
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content:space-around;
	
}
.boxinput{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}
.inputform{
	padding: 5px;
	margin: 10px 0;
}
.imgboton{
	width: 30px;
	height: 30px;
}
.select{
	padding: 5px;
	margin: 0 0px 10px 0;
}
.boton{
	margin-right: 10px;
	width: 50px; 
	height: 50px;
}
.texta{
	resize: vertical;
	height: 100px;
	margin-bottom: 10px;
}

input[type=text]:focus {
    background-color: lightblue;
}
.formfiltro{
	display: flex;
    width: 240px;
	padding: 10px 10px;
	background-color: #bfbbbb;
}
.caja-body{
	display: flex;
	
}

.upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
	background-color: rgb(88, 90, 92);
	height: 30px;
	display: inline-block;
	margin-bottom: 5px;
	transition-property: background-color;
	transition-timing-function: linear;
	transition-duration: 1s;
	padding: 5px;
	
}

.inputfile:focus + label,
.inputfile + label:hover {
	transition-property: background-color;
	transition-timing-function: linear;
	transition-duration: 1s;
    background-color: grey;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #adaaaa;
    color: #000;
    font-family: 'fuente';
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button:hover,
.button:focus {
    background: #787474;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}